html{
	height: 100% !important;
	color:#fff !important;
	
}
body {
	color:#fff !important;
	padding-top: 40px !important;
	background: url('../images/bg.png') no-repeat center center fixed !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	margin-bottom: 20px !important;
}

body { 
    margin: 0 !important;
}



.navbar{
	background-color: rgba(34, 46, 46, 1) !important;
	margin-bottom: 0 !important;
	height: 40px !important;
	overflow: hidden !important;
}

a, a:hover, a:active, a:visited{	
	text-decoration: none !important;
}

a.home{	
	height: 40px !important;	
	font-size: 18px !important;
	line-height: 40px !important;
	color: #fff !important;
}
a.home.active{	
	color:#F1DD2A !important;
}

@media (min-width: 768px){
	.navbar-header {
	   float: none !important; 
	}	
}

.navbar-header{
	position: relative !important;
}

.navbar .title{
	font-size: 20px !important;
}

.info-tape{
	background-color: rgba(34, 46, 46, 0.9) !important;
	color:#fff !important;
	padding: 10px !important;	
}

.info-tape .time {
	font-size: 18px !important;
}

.tape .day, .tape .info{
	font-size: 1em !important;
}

.footer {
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;  
  background-color: rgba(34, 46, 46, 1) !important;
  min-height: 30px !important;
}

.footer a {
	height: 30px !important;
	font-size: 18px !important;
	line-height: 34px !important;
	display: block !important;
}
.footer i.active{
	color: #F1DD2A !important;
}


.input-light{
	margin: 10px 0 !important;
}

.logo_wrapper{
	position: absolute !important;
	text-align: center !important;
	width: 100% !important;
	height: 100% !important;
}

.logo_wrapper .logo{
	padding-top: 10px !important;
}


.item-title{
	font-size:20px !important;
	margin: 5px 0 !important;	
}

.main-container{
	padding-bottom: 20px !important;
}

.home-menu{
	height: 50px !important;
	margin: 5px !important;
	box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.5) !important;
	position: relative !important;
}

.home-menu .body{
    position: absolute !important;
    top: 50% !important; left: 50% !important;
    transform: translate(-50%,-50%) !important;    
    width: 100% !important;    
    color: #fff !important;
}
.home-menu .body .title{
	font-weight: bold !important;
}
.home-menu .body i.type1{
	font-size: 30px !important;
}
.home-menu .body i.type2{
	font-size: 40px !important;
}
.home-menu .col{
	height: 100% !important;
}


.loginForm{
	padding-top: 50px !important;
}

.weather-table .wheater-icon{
	color:#F1DD2A !important;
}

.weather-table{
	margin: 0px !important;
}

.weather-table td{
	vertical-align: middle !important;
	border: 0px !important;
	box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.1) !important;	
}



.weather-slide{	
	z-index: 9999 !important;
	display: none !important;
}

.weather-slide.active{	
	position: absolute !important;
	display: block !important;
	width: 100% !important;
}

.p0{
	padding: 0 !important;
}
.m0{
	margin: 0 !important;
}

ul.sortable{
	margin: 0 !important;
	padding: 0 !important;
	list-style-type: none !important;
}

.my-handle{
	position: absolute !important;
	left: 0 !important;
	height: 100% !important;
	line-height: 50px !important;
	width: 50px !important;
	z-index: 9999 !important;
}

.floor_base{
    margin: 10px 0 !important;
    height: 30px !important;
    line-height: 30px !important;
    padding-left: 10px !important;
    box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.5) !important;    
}

.type-menu{
	position: fixed !important;
	top: 40px !important;
	height: 100% !important;
	background-color: rgba(34, 46, 46, 1) !important;
	border-right: 1px solid #F1DD2A !important;	
	z-index: 9999;
	display: none;
}
.type-menu-item{
	text-align: center !important;
	height: 50px !important;
	display: table !important;
	width: 100% !important;	
	border-top: 1px solid #F1DD2A !important;
	border-left: 1px solid #F1DD2A !important;
	border-bottom: 1px solid #F1DD2A !important;
	margin-bottom: 1px;
}

.type-menu-item a{
	display: table-cell !important; vertical-align: middle !important;
}
.type-menu-item a.active{
	color:#F1DD2A !important;
}

.type-menu-item .figure{
	font-size: 2em !important;
}


.type-menu ul.list-1{
	padding: 0;
}
.type-menu ul.list-2{
	padding: 0;
	padding-left: 10px;
}
.type-menu ul.list-3{
	padding: 0;
	padding-left: 10px;
}

.type-menu-complex{
	width: 60px !important;
}


.room-menu{
	position: absolute; !important;
	top: 40px !important;
	height: 100% !important;
	width: 40px !important;
	background-color: rgba(34, 46, 46, 1) !important;
	border-right: 1px solid #F1DD2A !important;
	display: none;
	z-index: 9999;
}
.room-menu-show, .type-menu-show{
	display: block;
}

.room-menu-item{
	margin: 0 1px 1px !important;
	text-align: center !important;
	height: 50px !important;
	display: table !important;
	width: 100% !important;
}

.room-menu-item a{
	display: table-cell !important; vertical-align: middle !important;
}

.room-menu-item a.active{
	color:#F1DD2A !important;
	border-bottom: 1px solid #F1DD2A !important;
	border-top: 1px solid #F1DD2A !important;
	border-right: 1px solid rgba(34, 46, 46, 1) !important;
}

.room-menu-item .figure{
	font-size: 2em !important;
}

.order-bar.active{
	color:#F1DD2A !important;
}



.drag-handle {
    margin-right: 10px !important;
    font: bold 20px Sans-Serif !important;
    color: #5F9EDF !important;
    display: inline-block !important;
    cursor: move !important;
    cursor: -webkit-grabbing !important;
}



:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.box {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.box > h3 {
    color: #333;
    border-color: #ddd;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-repeat: repeat-x;
    display: block;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.box-padding {
    padding: 15px;
}

.box-padding > h3 {
    margin: -15px;
    margin-bottom: 15px;
}

.box-grey {
    border-color: #ddd;
}

.box-grey > h3 {
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}

.box-blue {
    border-color: #bce8f1;
}

.box-blue > h3 {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    background-image: -webkit-linear-gradient(top,#d9edf7 0,#c4e3f3 100%);
    background-image: linear-gradient(to bottom,#d9edf7 0,#c4e3f3 100%);
}

.box-yellow {
    border-color: #faebcc;
}

.box-yellow > h3 {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    background-image: -webkit-linear-gradient(top,#fcf8e3 0,#faf2cc 100%);
    background-image: linear-gradient(to bottom,#fcf8e3 0,#faf2cc 100%);
}