<div class="container-fluid">
	<div class="container-fluid navbar navbar-fixed-top">
	    <div class="row text-center">
	        <div class="col-xs-2 p0">
	        </div>
	        <div class="col-xs-8 p0">
	        </div>
	        <div class="col-xs-2 p0">
	            <a class="home" ng-href="#/wizzard" ng-click="logout()">
	                <i class="fa fa-sign-out"></i>
	            </a>
	        </div>
	    </div> 
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="wizzard_block">
				<div class="wizzard_block__body">
					<div class="wizzard_block__body__header">Organise controlls for {{user.name}}</div>
					<div class="wizzard_block__body__inner">
						<div class="form-group wizzard_block__body__inner__buttons">
							<div ng-include="'/views/wizzard/menu.html'"></div>
						</div>
						<div class="row">
							<div class="col-xs-10 col-xs-offset-1">
								<div class="wizzard_block__complex"  ng-show="user.type =='complex'">
									<h4 class="wizzard_block__complex__title">{{items.name}}</h4>
									<div class="row">
										<div class="col-md-8 col-md-offset-1">
											<admin-add-object-item house="0" floor="0" room="0" user="{{user.id}}" ></admin-add-object-item>
										</div>
									</div>
								    <ul class="wizzard_block__floor__room__objects">
										<li ng-repeat="object in items.objects">
											{{object.HAModuleId}} - {{object.ModuleItem}} - {{object.ModuleType}} - {{object.category}}	- {{object.name}}
											<span class="fa fa-trash text-danger btn btn-sm pull-right" ng-click="deleteObject(items.objects, object)"></span>
										</li>
								    </ul>
									<div class="wizzard_block__complex__house" ng-repeat="house in items.houses" >
										<h4 class="wizzard_block__complex__house__title">{{house.name}}</h4>
										<div class="row">
											<div class="col-md-8 col-md-offset-1">
												<admin-add-object-item house="{{house.id}}" floor="0" room="0" user="{{user.id}}" ></admin-add-object-item>
											</div>
										</div>
									    <ul class="wizzard_block__floor__room__objects">
											<li ng-repeat="object in house.objects">
												{{object.HAModuleId}} - {{object.ModuleItem}} - {{object.ModuleType}} - {{object.category}}	- {{object.name}}
												<span class="fa fa-trash text-danger btn btn-sm pull-right" ng-click="deleteObject(house.objects, object)"></span>
											</li>
									    </ul>
										<div class="wizzard_block__house__floor"  ng-repeat="floor in house.floors">
											<h4 class="wizzard_block__house__floor__title">{{floor.name}}</h4>
											<div class="row">
												<div class="col-md-8 col-md-offset-1">
													<admin-add-object-item house="{{house.id}}" floor="{{floor.id}}" room="0" user="{{user.id}}" ></admin-add-object-item>
												</div>
											</div>
										    <ul class="wizzard_block__floor__room__objects">
												<li ng-repeat="object in floor.objects">
													{{object.HAModuleId}} - {{object.ModuleItem}} - {{object.ModuleType}} - {{object.category}}	- {{object.name}}
													<span class="fa fa-trash text-danger btn btn-sm pull-right" ng-click="deleteObject(floor.objects, object)"></span>
												</li>
										    </ul>											
											<div class="wizzard_block__house__floor__room"  ng-repeat="room in floor.rooms">
												<h4 class="wizzard_block__house__floor__room__title">{{room.name}}</h4>
												<div class="row">
													<div class="col-md-8 col-md-offset-1">
														<admin-add-object-item house="{{house.id}}" floor="{{floor.id}}" room="{{room.id}}" user="{{user.id}}" ></admin-add-object-item>
													</div>
												</div>												
											    <ul class="wizzard_block__house__floor__room__objects">
													<li ng-repeat="object in room.objects">
														{{object.HAModuleId}} - {{object.ModuleItem}} - {{object.ModuleType}} - {{object.category}}	- {{object.name}}	
														<span class="fa fa-trash text-danger btn btn-sm pull-right" ng-click="deleteObject(room.objects, object)"></span>
													</li>
											    </ul>
											</div>
										</div>
									</div>									
								</div>	
								<div class="wizzard_block__house"  ng-show="user.type =='house'">
									<h4 class="wizzard_block__house__title">{{items.name}}</h4>
									<div class="row">
										<div class="col-md-8 col-md-offset-1">
											<admin-add-object-item house="0" floor="0" room="0" user="{{user.id}}" ></admin-add-object-item>
										</div>
									</div>									
								    <ul class="wizzard_block__floor__room__objects">
										<li ng-repeat="object in items.objects">
											{{object.HAModuleId}} - {{object.ModuleItem}} - {{object.ModuleType}} - {{object.category}}	- {{object.name}}		
											<span class="fa fa-trash text-danger btn btn-sm pull-right" ng-click="deleteObject(items.objects, object)"></span>
										</li>
								    </ul>
									<div class="wizzard_block__house__floor" ng-repeat="floor in items.floors">
										<h4 class="wizzard_block__floor__title">{{floor.name}}</h4>
										<div class="row">
											<div class="col-md-8 col-md-offset-1">
												<admin-add-object-item house="0" floor="{{floor.id}}" room="0" user="{{user.id}}" ></admin-add-object-item>
											</div>
										</div>											
									    <ul class="wizzard_block__floor__room__objects">
											<li ng-repeat="object in floor.objects">
												{{object.HAModuleId}} - {{object.ModuleItem}} - {{object.ModuleType}} - {{object.category}}	- {{object.name}}									
												<span class="fa fa-trash text-danger btn btn-sm pull-right" ng-click="deleteObject(floor.objects, object)"></span>
											</li>
									    </ul>										
										<div class="wizzard_block__floor__room"  ng-repeat="room in floor.rooms">
											<h4 class="wizzard_block__floor__room__title">{{room.name}}</h4>
											<div class="row">
												<div class="col-md-8 col-md-offset-1">
													<admin-add-object-item house="0" floor="{{floor.id}}" room="{{room.id}}" user="{{user.id}}" ></admin-add-object-item>
												</div>
											</div>											
										    <ul class="wizzard_block__floor__room__objects">
												<li ng-repeat="object in room.objects">
													{{object.HAModuleId}} - {{object.ModuleItem}} - {{object.ModuleType}} - {{object.category}}	- {{object.name}}									
													<span class="fa fa-trash text-danger btn btn-sm pull-right" ng-click="deleteObject(room.objects, object)"></span>
												</li>
										    </ul>
										</div>
									</div>										
								</div>
								<div class="wizzard_block__house"  ng-show="user.type =='ap'">
									<h4 class="wizzard_block__house__title">{{items.name}}</h4>
									<div class="row">
										<div class="col-md-8 col-md-offset-1">
											<admin-add-object-item house="0" floor="0" room="0" user="{{user.id}}" ></admin-add-object-item>
										</div>
									</div>
								    <ul class="wizzard_block__floor__room__objects">
										<li ng-repeat="object in items.objects">											
											{{object.HAModuleId}} - {{object.ModuleItem}} - {{object.ModuleType}} - {{object.category}}	- {{object.name}}									
											<span class="fa fa-trash text-danger btn btn-sm pull-right" ng-click="deleteObject(items.objects, object)"></span>
										</li>
								    </ul>
									<div class="wizzard_block__floor__room"  ng-repeat="room in items.rooms">
										<h4 class="wizzard_block__floor__room__title">{{room.name}}</h4>
										<div class="row">
											<div class="col-md-8 col-md-offset-1">
												<admin-add-object-item house="0" floor="0" room="{{room.id}}" user="{{user.id}}" ></admin-add-object-item>
											</div>
										</div>										
									    <ul class="wizzard_block__floor__room__objects">
											<li ng-repeat="object in room.objects">
												{{object.HAModuleId}} - {{object.ModuleItem}} - {{object.ModuleType}} - {{object.category}} - {{object.name}}
												<span class="fa fa-trash text-danger btn btn-sm pull-right" ng-click="deleteObject(room.objects, object)"></span>	
											</li>
									    </ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>