<table class="table options-table">
	<tr ng-show="item.object && room == 'room'">
		<td ng-click="enableIconEditor()">
				<i class="fa fa-gear"></i>
		</td>
	</tr>
	<tr class="text-center">
		<td ng-show="item.object.favorite == 1" ng-click="setFavorite(0);">
			<i class="fa fa-star active favorite-star"></i>
		</td>
		<td ng-show="item.object.favorite == 0 || item.object.favorite == null" ng-click="setFavorite(1);">
			<i class="fa fa-star-o active favorite-star"></i>
		</td>
	</tr>
	<tr class="text-center" ng-show="item.object.favorite == 0 && room=='home'">		
		<td ng-click="removeFavorite(item);">
			<i class="fa fa-trash-o text-danger"></i>	
		</td>		
	</tr>
</table>