	<div class="row text-center">
		<div class="col-xs-4">
			<div class="row home-menu">
				<a class="body" ng-href="#/tree">
					<i class="fa fa-home fa-2x"></i>
				</a> 
			</div>
		</div>
		<div class="col-xs-4">
			<div class="row home-menu">				
				<a class="body" ng-href="#/ap">
					<span class="innerbody">
						<i class="fa floors-ap fa-2x"></i>
					</span>
				</a> 				
			</div>
		</div>
		<div class="col-xs-4">
			<div class="row home-menu">				
				<a class="body" ng-href="#/type/L">
					<span class="innerbody">
						<i class="fa fa-lightbulb-o fa-2x"></i>
					</span>
				</a> 				
			</div>
		</div>
		<div class="col-xs-4">
			<div class="row home-menu">				
				<a class="body" ng-href="#/type/H">
					<span class="innerbody">
						<i class="fa wi wi-snowflake-cold fa-2x"></i>
					</span>
				</a> 				
			</div>
		</div>
		<div class="col-xs-4">
			<div class="row home-menu">				
				<a class="body" ng-href="#/type/SC">
					<span class="innerbody">
						<i class="fa fa fa-gear fa-2x"></i>
					</span>
				</a> 				
			</div>
		</div>
	</div>
