@font-face {
	font-family: "rooms";
	src: url("../fonts/rooms.eot");
	src: url("../fonts/rooms.eot#iefix") format("embedded-opentype"),
	url("../fonts/rooms.woff") format("woff"),
	url("../fonts/rooms.ttf") format("truetype"),
	url("../fonts/rooms.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="rooms-"]:before, [class*=" rooms-"]:before,
[class^="rooms-"]:after, [class*=" rooms-"]:after {   
	font-family: rooms;
	font-style: normal;
}
.rooms-01:before {
	content: "\e000";
}
.rooms-02:before {
	content: "\e001";
}
.rooms-03:before {
	content: "\e002";
}
.rooms-04:before {
	content: "\e003";
}
.rooms-05:before {
	content: "\e004";
}
.rooms-06:before {
	content: "\e005";
}
.rooms-07:before {
	content: "\e006";
}
.rooms-08:before {
	content: "\e007";
}
.rooms-09:before {
	content: "\e008";
}
.rooms-10:before {
	content: "\e009";
}
.rooms-11:before {
	content: "\e00a";
}
.rooms-12:before {
	content: "\e00b";
}
