<div class="container-fluid navbar navbar-fixed-top">
    <div class="row text-center">
        <div class="col-xs-3 p0">
            <a class="home" ng-href="#/start">
                <i class="fa fa-home"></i>
            </a>
        </div>
        <div class="col-xs-6 p0">
        </div>
        <div class="col-xs-3 p0">
         
        </div>
    </div> 
</div>

<div class="container-fluid">
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="user in users">
			<a ng-click="loginAs(user)" class="btn">
				{{user}}
			</a>
		</li>	
	</ul>
</div>