<div class="row text-center">
	<div class="object">
		<div ng-include="'objects/templates/partials/edit-object-form.html'"></div>
		<div class="col-xs-6 column">
			<table class="table name-table">
				<tr ng-show="room=='home' || room == 'type'">
					<td>
						<div ng-include="'objects/templates/partials/object-name.html'"></div>
					</td>
				</tr>
				<tr>
					<td>
						<table class="table name-table">
							<tr>
								<td ng-click="onChange('down')">
									<span class="fa fa-lg fa-minus heat-down"></span>
								</td>
								<td ng-click="onChange('up')">
									<span class="fa fa-lg fa-plus fa-rotate-90 heat-up"></span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-6 column">
			<table class="table name-table">
				<tr>
					<td>
						<i class="wi wi-thermometer"></i>&nbsp;{{item.live.ModuleValue}}
						<br>
						<i class="fa fa-cog"></i>&nbsp;{{item.setpoint}}&deg;C
					</td>
				</tr>
			</table>		
		</div>
	</div>
</div>