<div class="row text-center">
	<div class="object">
		<div ng-include="'objects/templates/partials/edit-object-form.html'"></div>
		<div class="col-xs-6 column">
			<table class="table name-table">
				<tr ng-show="room=='home' || room == 'type'">
					<td>
						<div ng-include="'objects/templates/partials/object-name.html'"></div>
					</td>
				</tr>
				<tr ng-click="onChange()">
					<td>						
						<i class="fa fa-refresh fa-2x"
							ng-class="{'fa-spin':loading}"
						></i>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-6 column">
			<table class="table name-table">
				<tr>
					<td>
						<div ng-include="'objects/templates/SE/icons/security-icon.html'"></div>
					</td>
				</tr>				
			</table>
		</div>
	</div>
</div>